<main class="index">
    <section class="content">
        <div class="card container-fuild mb-5">
            <div class="container">
                <div class="col-md-12">
                    <br><br>
                    <div class="row" style="align-items:center;">
                        <div class="col-md-8">
                            <h1><strong>DESTÁCATE</strong></h1>
                            <h2>utilizando el mejor software para</h2>
                            <h1><strong>GESTIONAR</strong></h1>
                            <h2 class="mb-5">tus reparaciones informáticas</h2>
                            <h4><em>Desarrollado pensando en ti</em></h4>
                        </div>
                        <div class="col-md-4">
                            <img src="/img/logoGeneral.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="container-fuild my-auto">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h2 class="mb-4">Toda la información en un sólo lugar</h2>
                    <img src="/img/resources/resource_1.webp" alt="" class="img-fluid mb-4" style="size: 1;">
                    <h4 class="mb-5"><em>Revisa las reparaciones totales, balances e información de la empresa</em></h4>
                </div>
            </div>
        </div>
        <div class="card container-fuild">
            <div class="container">
                <div class="col-md-12">
                    <br><br>
                    <div class="row" style="align-items:center;">
                        <div class="col-md-5">
                            <h2>Diseño totalmente</h2>
                            <h1 class="mb-5"><strong>RESPONSIVO</strong></h1>
                            <h4><em>Gestiona desde cualquier dispositivo</em></h4>
                        </div>
                        <div class="col-md-7">
                            <img src="/img/resources/resource_2.webp" alt="" class="img-fluid" style="size: 1;">
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="container-fuild">
            <div class="container">
                <div class="col-md-12">
                    <br><br>
                    <div class="row" style="align-items:center;">
                        <div class="col-md-6">
                            <h2>¿Por qué</h2>
                            <h1 class="mb-5"><strong>elegirnos?</strong></h1>
                            <h5>
                                <em>
                                    <ul>
                                        <li>Registra, visualiza, modifica y administra cuentas de usuarios</li><br>
                                        <li>Registra, visualiza, modifica y administra clientes</li><br>
                                        <li>Registra, visualiza y administra reparaciones</li><br>
                                        <li>Visualiza el estado de la reparación en tiempo real</li><br>
                                        <li>Mantén interacción directa con clientes</li><br>
                                        <li>Activa el modo oscuro para cuidar tu salud visual</li><br>
                                        <li>Genera archivos .pdf con código QR de la reparación</li><br>
                                    </ul>
                                </em>
                            </h5>
                            <h4><em>Estas y más opciones en un sólo programa</em></h4>
                        </div>
                        <div class="col-md-6">
                            <img src="/img/resources/resource_3.webp" alt="" class="img-fluid" style="size: 1;">
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="card container-fuild my-auto">
            <div class="container">
                <div class="col-md-12 text-center">
                    <br><br>
                    <h2 class="mb-4">Todo lo que necesitas para hacer un buen trabajo</h2>
                    <img src="/img/resources/resource_4.webp" alt="" class="img-fluid mb-4" style="size: 1;">
                    <h4 class="mb-5"><em>Visualiza y administra reparaciones, interactua con el cliente sólo con
                            escanear el QR</em></h4>
                </div>
            </div>
        </div>
        <div class="container-fuild">
            <div class="container">
                <div class="col-md-12">
                    <br><br>
                    <div class="row" style="align-items:center;">
                        <div class="col-md-6">
                            <h2>¿Listo para</h2>
                            <a class="text-muted" href="/signin">
                                <h1><strong>iniciar sesión?</strong></h1>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src="/img/resources/resource_5.webp" alt="" class="img-fluid" style="size: 1;">
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </section>
</main>