<footer class="text-center main-footer">
  Desarrollado por: <strong>Danyely Loor Mero</strong> | Contacto: <strong>+593 99 142 7919</strong> | 2022
  <div class="float-left d-none d-sm-block">
    <b>Versión</b> 1.0.0
  </div>
</footer>