<div class="form-group">
    <label>Estado</label>
    <select name="status" id="sStatus" class="form-control">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
    </select>
</div>