<!--<div class="container p-4">-->
<div class="row ">
  <div class="mx-auto">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>PC </b>Taller</a>
    </div>
    <img src="/img/logoSignin.png" class="card-img-top mx-auto m-2 rounded-circle w-50" alt="">
    <div class="card-body">
      <p class="login-box-msg">Ingrese sus credenciales</p>
      <form id="quickForm" action="/signin" method="POST">
        <div class="input-group form-group mb-3">
          <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control" autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group form-group mb-3">
          <input type="password" name="password" placeholder="Contraseña" class="form-control">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
            </div>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">
              <i class="nav-icon fas fa-arrow-circle-right"></i>
              Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
<!--</div>-->